<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear, <%= @user.firstname %> <%=@user.lastname %></h1>
    <p>
      Your account has been removed from our system.
    </p>
  
    <p>Thanks for using Rotten Mangoes and have a great day!</p>
    <p>-Rotten Mangoes Admin</p>
  </body>
</html>