<div class='row'>
<%= form_tag("/", method: "get") do %>
  <div class='small-6 columns'>
  <%= text_field_tag(:search, nil ,placeholder: "Search for Movie Title or Director") %>
  </div>
  <div class='small-3 columns'>
  <%= select_tag(:duration, options_for_select([['Select movie duration', 0],['Under 90 minutes', 1],['Between 90 and 120', 2], ["Over 120 minutes", 3] ])) %>
  </div>
  <div class='small-3 columns'>

  <%= submit_tag("Search", class: 'button postfix') %>
  </div>
<% end %>

</div>