<% if params[:search].present? %>
  <%= render 'search' %>
<% end %>

<%= render @movies %>

<div class='row'>
  <div class="small-12 medium-6 medium-offset-5 columns">
    <%= paginate @movies %>
    <br>
    <br>
  </div>
</div>