<div class='row'>
  <div class='small-12 columns'>
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Take Control</th>
        <th>Toggle User Type</th>
      </tr>
      <%= render @users %>
    </table>
  </div>
</div>

<div class='row'>  
  <div class='small-12 small-offset-4 medium-offset-4 large-offset-4 columns'>
  <ul class="pagination">
    <%= paginate @users %>
  </ul>
  </div>
</div>